.form {
  @include flex-grid-column(4);

  display: block;
  margin: 0 auto;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__input {
    @include flex-grid-column(10);

    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-align: center;
  }

  &__input-field {
    width: 75%;
    height: rem-calc(20);
    font-size: 1.5rem;
  }

  &__button {
    @include link-transition(500ms);

    width: 20%;
    color: $white;
    background: $lilac;
    border: 0;
    height: rem-calc(25);
    font-size: 1.25rem;

    &:active,
    &:focus,
    &:hover {
      background: $melon;
    }

    &:visited {
      background: $lilac;
    }
  }
}

.form-list {
  @include flex-grid-column(10);

  display: block;
  margin: rem-calc(5) auto;
  align-items: center;
  list-style-type: none;
  position: relative;

  &__item{
    width: 95%;
    margin-top: rem-calc(5);
  }

  &__button {
    @include link-transition(500ms);

    width: 20%;
    position: absolute;
    right: rem-calc(20);
    height: rem-calc(20);
    color: $white;
    background: $papaya;
    border: 0;

    &:active,
    &:focus,
    &:hover {
      background: $rose;
    }

    &:visited {
      background: $papaya;
    }
  }

}