.form {
  @include flex-grid-column(4);

  display: block;
  margin: 0 auto;

  &__title {
    text-align: center;
    text-transform: uppercase;
  }

  &__input {
    @include flex-grid-column(10);

    display: block;
    margin: 0 auto;
    align-items: center;
  }

  &__input-field {
    width: 75%;
  }

  &__button {
    width: 20%;
  }
}

.form-list {
  @include flex-grid-column(10);

  display: block;
  margin: rem-calc(5) auto;
  align-items: center;
  list-style-type: none;

  &__item{
    width: 75%;
    margin-top: rem-calc(5);
  }

  &__button {
    width: 20%;
  }

}